## 6.1 Sourcing Open Data v2

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Define path

path = '/Volumes/2020-2021/CareerFoundry/Data Analytics Program/Achievement 6 Immersion'

In [6]:
# Import data

df_crime = pd.read_csv(os.path.join(path,'6 Immersion Project','02 Data','Original Data','Crimes_-_2001_to_Present.csv'))

In [7]:
df_crime

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7353454,12407756,JE282432,06/26/2021 09:00:00 AM,042XX N CLARENDON AVE,0820,THEFT,$500 AND UNDER,APARTMENT,False,False,...,46.0,3.0,06,1170147.0,1928635.0,2021,07/03/2021 04:50:33 PM,41.959670,-87.649851,"(41.959670047, -87.649850803)"
7353455,12406607,JE280143,06/26/2021 12:39:00 PM,039XX W DIVISION ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE - PORCH / HALLWAY,False,True,...,37.0,23.0,08B,1149735.0,1907713.0,2021,07/03/2021 04:50:33 PM,41.902681,-87.725440,"(41.902680507, -87.725440088)"
7353456,12410934,JE286209,06/22/2021 11:30:00 PM,027XX S ELEANOR ST,0584,STALKING,VIOLATION OF STALKING NO CONTACT ORDER,STREET,False,True,...,11.0,60.0,26,1167478.0,1886551.0,2021,07/03/2021 04:47:57 PM,41.844247,-87.660876,"(41.844246787, -87.660875986)"
7353457,12406223,JE280595,06/26/2021 06:00:00 PM,008XX W ADDISON ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,44.0,6.0,07,1170200.0,1924134.0,2021,07/03/2021 04:50:33 PM,41.947318,-87.649788,"(41.947317986, -87.649787936)"
7353458,12405839,JE279952,06/26/2021 09:20:00 AM,050XX W JACKSON BLVD,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,True,...,28.0,25.0,14,1142947.0,1898203.0,2021,07/03/2021 04:50:33 PM,41.876713,-87.750611,"(41.876713223, -87.750611108)"

In [8]:
df_music= pd.read_csv(os.path.join(path,'6 Immersion Project','02 Data','Original Data','Database to calculate popularity.csv'))

In [9]:
df_music

,Unnamed: 0,country,date,position,uri,track,title,artist
0,0,Global,05/11/2020,1.0,https://open.spotify.com/track/47EiUVwUp4C9fGc...,"Dakiti , Bad Bunny, Jhay Cortez",Dakiti,"Bad Bunny, Jhay Cortez"
1,1,Global,05/11/2020,2.0,https://open.spotify.com/track/35mvY5S1H3J2QZy...,"positions , Ariana Grande",positions,Ariana Grande
2,2,Global,05/11/2020,3.0,https://open.spotify.com/track/3tjFYV6RSFtuktY...,"Mood , 24kGoldn",Mood,24kGoldn
3,3,Global,05/11/2020,4.0,https://open.spotify.com/track/7hxHWCCAIIxFLCz...,"Lemonade , Internet Money",Lemonade,Internet Money
4,4,Global,05/11/2020,5.0,https://open.spotify.com/track/4y4spB9m0Q6026K...,"Lonely , Justin Bieber",Lonely,Justin Bieber
...,...,...,...,...,...,...,...,...
9806996,9806996,Taiwan,01/01/2017,197.0,https://open.spotify.com/track/3zHq9ouUJQFQRf3...,"Love Me Like You Do - From ""Fifty Shades Of G...","Love Me Like You Do - From ""Fifty Shades Of G...",Ellie Goulding
9806997,9806997,Taiwan,01/01/2017,198.0,https://open.spotify.com/track/3CRDbSIZ4r5MsZ0...,"Stressed Out , Twenty One Pilots",Stressed Out,Twenty One Pilots
9806998,9806998,Taiwan,01/01/2017,199.0,https://open.spotify.com/track/2mEvsc8k8iwR099...,"The End - From ""La La Land"" Soundtrack , Just...","The End - From ""La La Land"" Soundtrack",Justin Hurwitz
9806999,9806999,Taiwan,01/01/2017,200.0,https://open.spotify.com/track/0L7loeTIg6akW84...,"Light It Up - Remix , Major Lazer",Light It Up - Remix,Major Lazer
9807000,9807000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df=pd.read_csv(os.path.join(path,'6 Immersion Project','02 Data','Original Data','Final database.csv'))

In [12]:
df

,Country,Uri,Popularity,Title,Artist,Album/Single,Genre,Artist_followers,Explicit,Album,...,Sweden,Switzerland,Taiwan,Turkey,UK,USA,Popu_max,Top10_dummy,Top50_dummy,Cluster
0,Global,https://open.spotify.com/track/6FyRXC8tJUh863J...,31833.95,adan y eva,Paulo Londra,single,argentine hip hop,11427104.0,False,Adan y Eva,...,0,0,0,0,0,0,10,1.0,1.0,global
1,USA,https://open.spotify.com/track/6FyRXC8tJUh863J...,8.00,adan y eva,Paulo Londra,single,argentine hip hop,11427104.0,False,Adan y Eva,...,0,0,0,0,0,1,191,0.0,0.0,english speaking and nordic
2,Argentina,https://open.spotify.com/track/6FyRXC8tJUh863J...,76924.40,adan y eva,Paulo Londra,single,argentine hip hop,11427104.0,False,Adan y Eva,...,0,0,0,0,0,0,1,1.0,1.0,spanish speaking
3,Belgium,https://open.spotify.com/track/6FyRXC8tJUh863J...,849.60,adan y eva,Paulo Londra,single,argentine hip hop,11427104.0,False,Adan y Eva,...,0,0,0,0,0,0,126,0.0,0.0,english speaking and nordic
4,Switzerland,https://open.spotify.com/track/6FyRXC8tJUh863J...,20739.10,adan y eva,Paulo Londra,single,argentine hip hop,11427104.0,False,Adan y Eva,...,0,1,0,0,0,0,21,0.0,1.0,english speaking and nordic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170628,Taiwan,https://open.spotify.com/track/4v29A51TqtD2KFS...,31.20,smalltown,Luke Christopher,single,indie pop rap,152740.0,True,SmallTown,...,0,0,1,0,0,0,162,0.0,0.0,english speaking and nordic
170629,Taiwan,https://open.spotify.com/track/7InvbALrXpsz58J...,156.00,灰狼,G.E.M.,album,mandopop,1225408.0,False,摩天動物園,...,0,0,1,0,0,0,130,0.0,0.0,english speaking and nordic
170630,Taiwan,https://open.spotify.com/track/5rCNIuDc3VD7q6H...,90.40,預念患者,張赫宣,album,n-a,38.0,False,Freedom,...,0,0,1,0,0,0,133,0.0,0.0,english speaking and nordic
170631,Taiwan,https://open.spotify.com/track/0525Cll5exsrybt...,21.60,清晨巴士,Crowd Lu,album,chinese indie,149875.0,False,有吉他的流行歌曲,...,0,0,1,0,0,0,174,0.0,0.0,english speaking and nordic
170632,Taiwan,https://open.spotify.com/track/6IUFuke9UsBg2FD...,46.40,gettin by,ONE,single,k-rap,205012.0,False,ONE DAY,...,0,0,1,0,0,0,143,0.0,0.0,english speaking and nordic

In [13]:
df.columns

Index(['Country', 'Uri', 'Popularity', 'Title', 'Artist', 'Album/Single',
       'Genre', 'Artist_followers', 'Explicit', 'Album',
       ...
       'Sweden', 'Switzerland', 'Taiwan', 'Turkey', 'UK', 'USA', 'Popu_max',
       'Top10_dummy', 'Top50_dummy', 'Cluster'],
      dtype='object', length=151)

In [14]:
df.describe()

,Popularity,Days_since_release,Released_after_2017,Explicit_false,Explicit_true,album,compilation,single,bolero,boy band,...,Spain,Sweden,Switzerland,Taiwan,Turkey,UK,USA,Popu_max,Top10_dummy,Top50_dummy
count,170633.000000,167411.000000,167411.000000,170633.000000,170633.000000,170633.000000,170633.000000,170633.000000,170633.000000,170633.000000,...,170633.00000,170633.000000,170633.000000,170633.000000,170633.000000,170633.000000,170633.000000,170633.000000,170633.000000,170633.000000
mean,5417.616264,1337.530228,0.845667,0.651287,0.348684,0.549149,0.015026,0.435795,0.001242,0.011621,...,0.02513,0.040848,0.045044,0.044505,0.019721,0.038328,0.038943,89.926738,0.087035,0.294843
std,13115.854526,2453.554101,0.361269,0.476564,0.476555,0.497580,0.121658,0.495862,0.035226,0.107175,...,0.15652,0.197938,0.207401,0.206215,0.139039,0.191987,0.193460,57.998729,0.281887,0.455974
min,0.800000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,77.600000,428.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
50%,515.150000,834.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85.000000,0.000000,0.000000
75%,3867.850000,1240.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,138.000000,0.000000,1.000000
max,233766.900000,44128.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,200.000000,1.000000,1.000000

In [15]:
#check missing values
df.isnull().sum()

Country        0
Uri            0
Popularity     0
Title          0
Artist         0
              ..
USA            0
Popu_max       0
Top10_dummy    0
Top50_dummy    0
Cluster        0
Length: 151, dtype: int64

There are no missing values

In [16]:
# Find duplicates \
df_dups = df[df.duplicated()]

In [17]:
df_dups

Empty DataFrame
Columns: [Country, Uri, Popularity, Title, Artist, Album/Single, Genre, Artist_followers, Explicit, Album, Release_date, Track_number, Tracks_in_album, danceability, energy, key, loudness, mode, speechiness, acoustics, instrumentalness, liveliness, valence, tempo, duration_ms, time_signature, Genre_new, Days_since_release, Released_after_2017, Explicit_false, Explicit_true, album, compilation, single, bolero, boy band, country, dance/electronic, else, funk, hip hop, house, indie, jazz, k-pop, latin, metal, opm, pop, r&b/soul, rap, reggae, reggaeton, rock, trap, syuzhet_norm, bing_norm, afinn_norm, nrc_norm, syuzhet, bing, afinn, nrc, anger, anticipation, disgust, fear, joy, sadness, surprise, trust, negative, positive, n_words, anger_norm, anticipation_norm, disgust_norm, fear_norm, joy_norm, sadness_norm, surprise_norm, trust_norm, negative_norm, positive_norm, anger_norm2, anticipation_norm2, disgust_norm2, fear_norm2, joy_norm2, sadness_norm2, surprise_norm2, trust_norm2, negative_norm2, positive_norm2, negative_bog_jr, positive_bog_jr, Bayes, Negative_Bayes, Neutral_Bayes, Positive_Bayes, ...]
Index: []

[0 rows x 151 columns]

There are no duplicates

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170633 entries, 0 to 170632
Columns: 151 entries, Country to Cluster
dtypes: float64(58), int64(65), object(28)
memory usage: 196.6+ MB

In [19]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

Artist_followers
Explicit
Track_number
Tracks_in_album
danceability
energy
key
loudness
mode
speechiness
acoustics
instrumentalness
liveliness
valence
tempo
duration_ms
time_signature
LDA_Topic

In [26]:
df.dtypes

Country         object
Uri             object
Popularity     float64
Title           object
Artist          object
                ...
USA              int64
Popu_max         int64
Top10_dummy    float64
Top50_dummy    float64
Cluster         object
Length: 151, dtype: object

In [32]:
df['Artist_followers'] = df['Artist_followers'].astype('str')

In [33]:
df['Explicit'] = df['Explicit'].astype('str')

In [34]:
df['LDA_Topic'] = df['LDA_Topic'].astype('str')

In [36]:
df_music.columns

Index(['Unnamed: 0', 'country', 'date', 'position', 'uri', 'track', 'title',
       'artist'],
      dtype='object')

In [37]:
df_music.describe()

         Unnamed: 0      position
count  9.807001e+06  9.807000e+06
mean   4.903500e+06  1.005000e+02
std    2.831037e+06  5.773431e+01
min    0.000000e+00  1.000000e+00
25%    2.451750e+06  5.075000e+01
50%    4.903500e+06  1.005000e+02
75%    7.355250e+06  1.502500e+02
max    9.807000e+06  2.000000e+02

In [38]:
#check missing values
df_music.isnull().sum()

Unnamed: 0        0
country           1
date              1
position          1
uri               1
track             1
title             1
artist        15642
dtype: int64

In [39]:
# Find duplicates \
df_music_dups = df_music[df_music.duplicated()]

In [40]:
df_music_dups

Empty DataFrame
Columns: [Unnamed: 0, country, date, position, uri, track, title, artist]
Index: []

There are no duplicates in this data set

In [41]:
# Create a subset of missing values in df_music 
df_nan = df_music[df_music['artist'].isnull() == True]

In [42]:
df_nan

         Unnamed: 0 country        date  position  uri track title artist
176000       176000  Global  09/06/2018       1.0  N\A   N\A   N\A    NaN
176001       176001  Global  09/06/2018       2.0  N\A   N\A   N\A    NaN
176002       176002  Global  09/06/2018       3.0  N\A   N\A   N\A    NaN
176003       176003  Global  09/06/2018       4.0  N\A   N\A   N\A    NaN
176004       176004  Global  09/06/2018       5.0  N\A   N\A   N\A    NaN
...             ...     ...         ...       ...  ...   ...   ...    ...
9790996     9790996  Taiwan  23/03/2017     197.0  N\A   N\A   N\A    NaN
9790997     9790997  Taiwan  23/03/2017     198.0  N\A   N\A   N\A    NaN
9790998     9790998  Taiwan  23/03/2017     199.0  N\A   N\A   N\A    NaN
9790999     9790999  Taiwan  23/03/2017     200.0  N\A   N\A   N\A    NaN
9807000     9807000     NaN         NaN       NaN  NaN   NaN   NaN    NaN

[15642 rows x 8 columns]

In [43]:
df_music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9807001 entries, 0 to 9807000
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   country     object
 2   date        object
 3   position    float64
 4   uri         object
 5   track       object
 6   title       object
 7   artist      object
dtypes: float64(1), int64(1), object(6)
memory usage: 598.6+ MB

This data set looks pretty clean already and shouldn't be an issue with the current data types

In [35]:
df.to_pickle(r'/Volumes/2020-2021/CareerFoundry/Data Analytics Program/Achievement 6 Immersion/6 Immersion Project/02 Data/Prepared Data/Final_Spotify_database_cleaned.pkl')

In [45]:
df_music.to_pickle(r'/Volumes/2020-2021/CareerFoundry/Data Analytics Program/Achievement 6 Immersion/6 Immersion Project/02 Data/Prepared Data/Popularity_Spotify_Dates_cleaned.pkl')